<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="shared-header">
    <title>LevelUp Application</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<nav th:fragment="navbar-group" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    LevelUP
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div sec:authorize="isAuthenticated()"><span sec:authentication="userAuthentication.details['name']"></span></div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" th:href="@{/pitches}">My Pitches</a>
            <a class="dropdown-item" th:href="@{/reviews}">My Reviews</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href= "@{/badgelibrary}">Badge Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href= "@{/pitches}">Pitches</a>
        </li>
      </ul>
    </div>
  </nav>
  <div th:fragment="bottom-script">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
  </div>
  </body>
  </html>
